@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500&family=Montserrat:wght@300;400;500;600;700&display=swap');

.parent-container{
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    margin-top: 64px;
    margin-left: 120px;
    margin-bottom: 136px;
    height: 568px;
}

.stone1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 379px;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--secondary-500, #05422C);
}


.stones1{
    width: 213px;
    height: 213px;
    background: lightgray 50% / cover no- 
    repeat;
    transition: transform 0.3s ease-in-out; 
}


.stones1:hover {
    transform: scale(1.1);  
}

.article{
    display: flex;
    flex-direction: column;
}
.stone1-head{
    color: var(--neutral-0, #FFF);
    text-align: center; 
    font-family: "Lexend";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    align-self: stretch;
}

.stone1-para{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: "Lexend";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 216px;
}

.stone1-btn{
    color: var(--primary-500, #17AF26);
    font-family: "Lexend";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.stone2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}

.images-part2{
    display: flex;
    height: 240px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--neutral-50, #F4F4F4);
    position: relative;
}

.stones2 {
    height: 164px;
    width: 164px;
    position: absolute;
    transition: transform 0.3s ease-in-out; 
}

.stones2:hover {
    transform: scale(1.1);  
}


.article2{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
   align-self: stretch;
}

.write{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.stone-2-para{
    color: var(--neutral-200, #9D9EA2);
    text-align: center;
    font-family: "Lexend";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 21px */
}

.stone2-head{
    align-self: stretch;
    color: var(--neutral-500, #1A1E26);
    text-align: center;
    font-family: "Lexend";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.stone-2-star{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background: var(--neutral-0, #FFF);
}

.start{
    color: var(--neutral-900, #060709);
    font-family: "Lexend";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
     line-height: 150%; /* 21px */
}

.line{   
    width: 1px;
    height: 12px;
    background: #C8C9CB;

}

.no{
    color: var(--neutral-900, #060709);
    font-family: "Lexend";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 

}

.review{
    color: var(--neutral-100, #C8C9CB);

    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.savs{
    display: flex;
    height: 28px;
    width: 92px;
    padding: 4px 10px 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    background: var(--secondary-50, #F2F6F4);
}

.sav{
    color: var(--secondary-500, #05422C);
   font-family: "Lexend";
   font: bold;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
}

.stone-2-rating{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.rating{
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.dollor{
    color: var(--other-red, #EB2606);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.weight{
    color: var(--neutral-100, #C8C9CB);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 21px */

}

.gram{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
}

.grs{
    display: flex;
    height: 32px;
    padding: 4px 10px 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid var(--neutral-50, #F4F4F4);
    background: var(--neutral-0, #FFF);
}

.gr{
    color: var(--neutral-500, #1A1E26);
font-family: "Lexend";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
}

.carts {
    background: var(--primary-500, #17AF26);
    font-family: "Lexend";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #F2F6F4;
    border: none; 
    display: flex;
    height: 40px;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 100px;
    transition: background-color 0.3s, transform 0.3s;
 }
 
 .carts:hover {
    background-color: #1AC543;
    transform: scale(1.05); 
    cursor: pointer; 
 }
 .label {
    background: rgba(5, 66, 44, 0.3);
    border-radius: 100px;
    padding: 4px 32px 5px 32px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 64px;
    position: absolute;
    left: calc(50% - 75.5px);
    top: calc(50% - 32px);
    backdrop-filter: blur(4px);
  }
  .out-of-stock {
    color: #ffffff;
    text-align: left;
    font: var(--regular-text-xs, 400 14px/150% "Lexend", sans-serif);
    position: relative;
  }



 

 

 

